@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --cor-header:#181818;
    --cor-fundo:#1E1E1E;
    --cor-amarelo: #ffc846;
    --cor-amarelo-escuro:#d4a639;
    --cor-texto: #fff;
    --cor-secao: #212121;
    --button-text:#0E0E10;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--cor-fundo);
    margin:0px;
    padding: 0;
    
}

header{
    height: 8vw;
    align-content: center;
    margin:0;
    background: var(--cor-header);
}

header img{
    width: 15vw;
    max-width: 200px;
    margin-left: 40px;

}
/* ------------------------------- NavBar -------------------------------*/

.navbar{
    width: 50vw;
    float:inline-end;
    margin-right: 5vw;
}

.navbar ul{
    float: end;
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding: 10px;
}

.navbar a{
    text-decoration: none;
    color:var(--cor-texto);
}

.link{
    position: relative;
    padding-bottom: 6px;
}

.link:hover a{
    color:var(--cor-amarelo)
}

.link:before{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--cor-amarelo);
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}

.link:hover:before{
    visibility: visible ;
    width: 120%;
}


.login-button {
    background: var(--cor-amarelo);
    width: 8vw;
    height: 3vw;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 4vw;
    margin-bottom: 2px;
}

.login-button{
    color:var(--button-text);
    font-weight: 650;
    font-size: 1.1em;

}

.login-button:hover{
    background: var(--cor-amarelo-escuro);
}








/* ------------------------------- Fim NavBar -------------------------------*/




/* ------------------------------- Main -------------------------------*/


.banner{
    
}


#conteudo{
    
}

.texto-sobre, .texto-historia{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    color: var(--cor-amarelo);
    clear:both;
}

.texto-sobre p, .texto-historia p{
    font-family: 'Poppins', sans-serif;
    font-size: 0.85em;
    color: var(--cor-texto);
    font-weight: 400;
}



#conteudo-sobre{
    display: flex;
    background-color: var(--cor-secao);
    padding: 0px 20px;
    margin: 40px 0;
}
.texto-sobre{
    margin:0px 50px;
}

#conteudo-historia{
    display: flex;
    background-color: var(--cor-secao);
    padding: 0px 20px;
    margin: 40px 0;
}

.texto-historia{
    margin:0px 50px;

}


/* ------------------------------- Fim Main -------------------------------*/




/* ------------------------------- Contato -------------------------------*/
#contato{
    padding: 0;
    margin: 120px 0;
    
}

#contato h2{
    background-color: #ffc846;
    color: #181818;
    width: 100%;
    height: 150px;
    margin: 0;
    line-height: 150px;
    text-align: center;
    font-size: 2.5em;


}.contato{
    color: #ffc846;
    background: #20202070;
    width: 70%;
    height: 250px;
    margin: 30px auto;
    padding: 40px 0px;
    display: flex;
    justify-content:space-around;
    border-radius: 20px;    
}

.contato i{
    font-size: 1.5em;
}


.contato p{
    font-weight: 500;
}


.contato h4{
    color: #fff;
    font-weight: 400;
}

.contato hr{
    padding: 0;
    margin: 0;
    color: var(--cor-amarelo);
    border:var(--cor-amarelo) 1px solid;
    height: 100%;
    width: 0;
}

/* -------------------------------  Fim Contato -------------------------------*/





/* -------------------------------  Endereco -------------------------------*/

#localizacao{
    color: var(--cor-amarelo);
    background: var(--cor-secao);
    width: 70%;
    margin: 20px auto;
    padding: 20px 0px;
    border-radius: 20px;   
}

#localizacao i{
    font-size: 1.5em;
    
}

.endereco, .tituloendereco{
    padding: 10px 40px;
    width: 75%;
    margin: 0px auto;
}

.endereco p{
    color: white;
    margin: 5px;
    font-size: 15px;
}

.mapa{
    text-align: center;
}

.mapa iframe{
    width: 100%;
    height: 350px;
}

/* -------------------------------  Fim Endereco -------------------------------*/








/* ------------------------------- Rodape -------------------------------*/



.rodape{
    background-color: #121212;
    border-top: solid 2px #ffc846 ;
    margin-top: 30px;
    bottom: 0;
    width: 100%;
    clear: both;
}



.rodape h5{
    color:#ffc846;
    text-align: center;
    font-weight: 500;
    margin:0px;
    padding: 30px 0px 20px 0px;
}
/* -------------------------------  Fim Rodape -------------------------------*/
