@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

:root{
    --cor-header:#121212;
    --cor-fundo:#1E1E1E;
    --cor-amarelo: #ffc846;
    --cor-amarelo-escuro:#d4a639;
    --cor-texto: #fff;
    --cor-secao: #181818;
    --button-text:#0E0E10;
    --fundo-contato: #E7E8EC;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--cor-fundo);
    margin:0px;
    padding: 0;
    
}

header{
    height: 8vw;
    align-content: center;
    margin:0;
    background: var(--cor-header);
}

header img{
    width: 15vw;
    margin-left: 40px;
    margin-top: 15px;
}
/* ------------------------------- NavBar -------------------------------*/

.navbar{
    width: 50vw;
    float:inline-end;
    margin-right: 5vw;
}

.navbar ul{
    float: end;
    display:flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;
    padding: 10px;
}

.navbar{
    text-decoration: none;
}

.link{
    position: relative;
    padding-bottom: 6px;
    margin: 0 2vw;
    color:var(--cor-texto);
}

.link a{
    text-decoration: none;
    color:var(--cor-texto);
}

.link:hover a{
    color:var(--cor-amarelo)
}

.link:before{
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--cor-amarelo);
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
}

.link:hover:before{
    visibility: visible ;
    width: 120%;
}


.login-button {
    background: var(--cor-amarelo);
    width: 8vw;
    max-width: 150px;
    height: 3.5vw;
    font-weight: 650;
    font-size: 1.3vw;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 4vw;
    margin-bottom: 2px;
}

.login-button a{
    text-decoration: none;
    color:var(--button-text);
}
.login-button:hover{
    background: var(--cor-amarelo-escuro);
}








/* ------------------------------- Fim NavBar -------------------------------*/

.banner {
    position: relative;
    overflow: hidden;
}

.banner img{
    width:100%;
    height: 100%;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: opacity 0.3s ease;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.banner:hover .overlay {
    opacity: 0; 
}

.text {
    font-family: 'Merriweather', serif;
    color: var(--cor-amarelo);
    font-size: 7vw;
    text-align: center;
    transition: opacity 0.3s ease;
}

.banner:hover .text {
    opacity: 0;
}



/* ------------------------------- Main -------------------------------*/


.banner{
    
}


#conteudo{
    
}

.texto-sobre, .texto-historia{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    color: var(--cor-amarelo);
    clear:both;
}

.texto-sobre p, .texto-historia p{
    font-family: 'Poppins', sans-serif;
    font-size: 0.85em;
    color: var(--cor-texto);
    font-weight: 400;
}



#conteudo-sobre{
    display: flex;
    background-color: var(--cor-secao);
    padding: 0px 20px;
    margin: 40px 0;
}
.texto-sobre{
    margin:0px 50px;
}

#conteudo-historia{
    display: flex;
    background-color: var(--cor-secao);
    padding: 0px 20px;
    margin: 40px 0;
}

.texto-historia{
    margin:0px 50px;

}


/* ------------------------------- Fim Main -------------------------------*/




/* ------------------------------- Contato -------------------------------*/

#contato-section{
    margin:0;
    padding: 0;

}

.contato-header{
    background-color: #ffc846;
    color: #181818;
    width: 100%;    
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.1vw;
    margin-top:0;
}

.contato{
    width: 60vw;
    margin:0 auto;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    background-color: #181818;
    padding-left: 30px;
    color:var(--cor-texto)
}


.contato hr{
    border: 1px solid var(--cor-amarelo-escuro);
    padding: 0;
    margin-left:0;

}

.email, .fone{
    width:45%;

}

.contato h1{
    color:var(--cor-amarelo);
}


/* -------------------------------  Fim Contato -------------------------------*/


/* -------------------------------- Mapa  -------------------------------*/

.secao-mapa{
    display: flex;
    width: 80vw;
    height: 30vw;
    max-height: 400px;
    margin: 0 auto;
    justify-content: space-between;
    margin:30px auto;
    background-color: #181818;
}

.mapa-texto{
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 30px;

}

.mapa-texto h1{
    color: var(--cor-amarelo);
}

.mapa-p{
    color: var(--cor-texto);
    font-size: 0.9em;
    
}

.secao-mapa iframe{
    width: 55%;
}





/* -------------------------------  Fim Endereco -------------------------------*/








/* ------------------------------- Rodape -------------------------------*/



.rodape{
    background-color: #121212;
    border-top: solid 2px #ffc846 ;
    margin-top: 30px;
    bottom: 0;
    width: 100%;
    clear: both;
}
.rodape-logo{
    width: 13vw;
    max-width: 200px;
    margin-left: 40px;
    margin-top: 15px;
    float: left;
    position: absolute;
    
}



.rodape-conteudo {
    display: flex;
    justify-content:space-around ;
    margin: 0 auto ;
    width: 60vw;

}
.rodape-links, .rodape-social, .rodape-contato{
    width:40%;
}
.rodape-conteudo li{
    font-size: 0.8em;
    padding: 5px 0;
}

.rodape-links, .rodape-contato, .rodape-social{
    margin:0 auto;
    list-style-type: none;
    color:var(--cor-amarelo);
    
}

.rodape-links h3, .rodape-contato h3, .rodape-social h3{
    color:var(--cor-amarelo);
    margin:0 0 20 0;
}

.rodape-links li, .rodape-contato li, .rodape-social li{
    list-style: none;
}
.rodape-links a, .rodape-contato a, .rodape-social a{
    text-decoration: none;
    color:var(--cor-amarelo);
    font-weight: 350;
}

.rodape-links a:hover{
    text-decoration: underline;
    color:var(--cor-amarelo-escuro)
}



.rodape h5{
    color:#ffc846;
    text-align: center;
    font-weight: 500;
    margin:0px;
    padding: 10px 0px 20px 0px;
}
/* -------------------------------  Fim Rodape -------------------------------*/




/* -------------------------------  Login  -------------------------------*/

#login-container{
    margin: 0 auto;
    background: var(--cor-secao);
    width: 40vw;
    height: 40vw;
    margin: 3vw auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.7vw;
}

.login-form{
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    
}

.form-group{
    width: 100%;
    height: 30%;
}

.form-group label{
    display: block;
    margin: 10px 10px;
    font-size: 1.3vw;
    font-weight: 500;
}

#login-container h2, .form-group label{
    color: var(--cor-amarelo);
}

.form-group input{
    width: 97%;
    height: 3vw;
    background-color: var(--cor-fundo);
    border: none;
    border-bottom: 2px solid var(--cor-amarelo-escuro);
    color: var(--cor-texto);
    font-size: 1.1vw;
    outline: none;
    padding-left: 0.65vw;
}

.form-button{
    font-family: 'Poppins', sans-serif;
    background-color:var(--cor-amarelo) ;
    border:none;
    width: 100%;
    font-size: 1.5vw;
    font-weight: 700;
    height: 3vw;
    border-radius: 3px;
    margin: 2vw 0;
    padding: 2vw 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-button:hover{
    background-color: var(--cor-amarelo-escuro);
    cursor: pointer;
}

.password-help{ 
    color: var(--cor-amarelo-escuro);
    text-decoration: none;
    display: flex;
    justify-content: end;
    font-size: 1vw;
    margin-top: -3vw;
}

.password-help:hover{
    color:var(--cor-amarelo);
    text-decoration: underline;
}
